### Introspection

In [1]:
def add_func(a,b):
    '''
    adds two variables
    
    Returns
    ----------
    the sum: type of arguments
    
    '''
    return a+b

In [2]:
add_func(5,10)

15

In [3]:
add_func('Soham ', 'Mhatre')

'Soham Mhatre'

In [4]:
add_func?

In [5]:
import numpy as np
np.*load*?

### Understanding Scope

In [6]:
a=[4]
b=a
a.append(2)
print(b)

# Observe how value of b changes.

[4, 2]

### String Formatting

In [7]:
a=4; b=5
print(f"a equals {a}; b equals {b}")

a equals 4; b equals 5

### Checking Object's Type : isinstance

In [8]:
a=4; b=5.0

print(isinstance(a,(int,float)))
print(isinstance(b,(int,float)))
print(isinstance(b,(str)))

True
True
False

### Duck Typing : 
'''
If it walks like a duck and quacks like a duck, then itâ€™s a duck.

Often you may not care about the type of an object but rather only whether it has certain methods or behavior. 
'''

In [9]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [10]:
iter?

In [11]:
isiterable("a string")

True

In [12]:
isiterable([2,3,4])

True

In [13]:
isiterable(5)

False

In [14]:
a=iter("a")

### Importing Modules

In [15]:
import import_basics

In [16]:
import_basics.PI

3.14159

In [18]:
from import_basics import add_two, sum_binary

In [19]:
sum_binary(5,10)

15

### Binary Operators

* a + b
* a - b
* a * b
* a / b
* a // b 'Floor Division'
* a ** b 'a Raise to the power b'
* a & b
* a | b
* a ^ b
* a == b
* a != b 
* a < b
* a <= b
* a > b 
* a >= b 
* a is b 'Referencing to the same object'
* a is not b 'Referencing to the same object'

In [22]:
a=[1,2,3]
b=a
c=list(a)

In [23]:
print (f"a is b: {a is b}")
print (f"a is b: {b is a}")
print (f"c is a: {c is a}")

a is b: True
a is b: True
c is a: False

In [24]:
c==a

True

In [25]:
a=None
a is None

True

### Mutable and Immutable
* Lists are mutable 
* Tuples are immutable

In [26]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

In [27]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"

TypeError: 'tuple' object does not support item assignment

### String Functions

In [ ]:
# count function

In [31]:
c="""
This is a longer string that 
spans multiple lines
"""

In [34]:
c.count("\n"),c.count("i")

(3, 5)

In [ ]:
# replace function

In [35]:
c.replace("longer string","string")

'\nThis is a string that \nspans multiple lines\n'

In [36]:
# Manipulating a string like a list

In [41]:
aString='python'
stringAsList=list(aString)
stringAsListB=list('isfun')
print(stringAsList+stringAsListB)

['p', 'y', 't', 'h', 'o', 'n', 'i', 's', 'f', 'u', 'n']

In [42]:
aString[:2]

'py'

In [46]:
specialString=r"this\has\no\special\characters"
print(specialString)

this\has\no\special\characters

In [47]:
specialString

'this\\has\\no\\special\\characters'

## DateTime Module

In [48]:
from datetime import datetime, date, time

In [55]:
dt = datetime(2023, 6, 29, 20, 30, 21)

In [56]:
dt.month

6

In [57]:
dt.day

29

In [66]:
dt.weekday()

3

In [67]:
dt.date()

datetime.date(2023, 6, 29)

In [ ]:
## Formats datetime as string

In [70]:
dt.strftime("%Y-%m-%d %H:%M:%S")

'2023-06-29 20:30:21'

In [ ]:
## Converts string to datetime

In [72]:
datetime.strptime("20230630", "%Y%m%d")

datetime.datetime(2023, 6, 30, 0, 0)

In [73]:
dt_hour = dt.replace(minute=0, second=0)

In [74]:
dt_hour

datetime.datetime(2023, 6, 29, 20, 0)

In [75]:
## Time delta

In [78]:
dt2 = datetime(2011, 11, 15, 22, 30)

In [79]:
delta = dt2 - dt

In [83]:
dt + delta

datetime.datetime(2011, 11, 15, 22, 30)

In [84]:
dt2==dt + delta

True

### Control Flow

### if, elif, and else

In [86]:
x = -5
if x < 0:
    print("It's negative")

It's negative

In [88]:
x = 5

In [89]:
if x < 0:
    print("It's negative")
elif x == 0:
    print("Equal to zero")
elif 0 < x < 5:
    print("Positive but smaller than 5")
else:
    print("Positive and larger than or equal to 5")

Positive and larger than or equal to 5

### for loops

In [90]:
sequence = [1, 2, None, 4, None, 5] 
total = 0
for value in sequence:
    if value is None: 
        continue
    total += value

In [91]:
print(total)

12

In [94]:
sequence.pop(4)

### while loops

In [96]:
x=256 
total = 0 

while x>0:
    if total > 500: 
        break
    total += x 
    x=x//2
    
print(total)

504

In [ ]:
## pass = skip step.

In [99]:
x=0

In [100]:
if x < 0: 
    print("negative!")
elif x==0:
    pass
# TODO: put something smart here pass
else: 
    print("positive!")

### Sum of multiples of x and y

In [114]:
total = 0

def range_sum_with_x_y_multiples(range_num, x, y):
    '''
    Calculates sum of multiples of x and y till range_num
    -----
    Returns sum
    
    '''
    total = 0
    for i in range(range_num):
        if x == 0 or y == 0:
            print('Division by Zero: not allowed')
            break
        elif i%x == 0 or i%y == 0:
            total+=i
    if x == 0 or y == 0 :
        return None
    else:
        return total

In [115]:
range_sum_with_x_y_multiples(1000,1,0)

Division by Zero: not allowed