## Tuples

In [11]:
## Defining a tuple

tup = (1, 2, 3)

## Nested Tuple

tup = (1, 2, 3), (4, 5, 6)
print(tup)

## Type Casting to a Tuple

tupString = 'tuple'
print(tuple(tupString))

## Packaging various elements into a tuple
tup = tuple(['foo', [1, 2, 3], True])
print(tup)

# accessing and appending to an element in tuple.
tup[1].append('a') 
print(tup)

((1, 2, 3), (4, 5, 6))
('t', 'u', 'p', 'l', 'e')
('foo', [1, 2, 3], True)
('foo', [1, 2, 3, 'a'], True)

In [12]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [13]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [16]:
# Swapping and unpacking

In [14]:
tup = (4, 5, 6)
a, b, c = tup
print(b)

5

In [15]:
tup = 4, 5, (6, 7)
a, b,(c, d) = tup
print(d)

7

In [18]:
a = 1; b = 2
print(f"a is {a} & b is {b}")

# Swapping
b, a = a, b
print(f"a is {a} & b is {b}")

a is 1 & b is 2
a is 2 & b is 1

In [19]:
# Unpacking over iterating

seq=[(1, 2, 3), (4 , 5, 6), (7, 8, 9)]

for a, b, c in seq:
    print(f'a={a}, b={b}, c={c}')

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [20]:
values = 1, 2, 3, 4, 5 #This is also a tuple
a, b, *rest = values

In [23]:
# Plucking

In [22]:
rest

[3, 4, 5]

In [24]:
values = [2,4,6,8,9,10]
a, b, *_ = values

In [28]:
type(_)

list

In [29]:
# Tuple method : COUNT

values=2,2,2,2,3,4,5,6,7
values.count(2)

4

## Lists

In [30]:
a_list = [2, 3, 7, None]
print(a_list)

[2, 3, 7, None]

In [45]:
tup = ("foo", "bar", "baz")
b_list = list(tup)
print(b_list)

b_list[1] = "peekaboo"
print(b_list)

['foo', 'bar', 'baz']
['foo', 'peekaboo', 'baz']

In [ ]:
## Append method -> Value addition

In [46]:
b_list.append('append')
b_list

['foo', 'peekaboo', 'baz', 'append']

In [ ]:
## Insert into list method -> Index Addition

insert is computationally expensive compared with append, because references to subsequent elements have to be shifted internally to make room for the new element.

If you need to insert elements at both the beginning and end of a sequence, you may wish to explore collections.deque, a double-ended queue, which is optimized for this purpose and found in the Python Standard Library.

In [47]:
b_list.insert(1,'insert')
b_list

['foo', 'insert', 'peekaboo', 'baz', 'append']

In [ ]:
## Pop method -> Index Removal

In [51]:
b_list.pop(-1) 
b_list

['foo', 'insert', 'peekaboo']

In [ ]:
## Remove method -> Value removal

In [52]:
b_list.remove('insert')
b_list

['foo', 'peekaboo']

In [ ]:
## Value Check in a list

In [53]:
a = "foo" in b_list
print(a)
b = "insert" not in b_list
print(b)

True
True

In [ ]:
## Concatenating Lists

In [54]:
[4, None, "foo"] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [ ]:
## extend method

In [59]:
a=[4, None, "foo"]
a.extend([7, 8, (2, 3)])
a

[4, None, 'foo', 7, 8, (2, 3)]

[for long lists] extend over concatenate as extend is less computationally expensive 

[for short lists] concatenaten over extend

In [62]:
import time

In [65]:
a=[[4], [None], ['foo'], [7], [8], [(2, 3)], [(2, 3)]]

start = time.time()
print(start)

everything = []
for chunk in a:
    print(f"\n {chunk}")
    everything.extend(chunk)

end = time.time()

print(end)
print(end-start)


## over 

start = time.time()
print(start)

everything = []
for chunk in a:
    print(f"\n {chunk}")
    everything = everything + chunk

end = time.time()


print(end)
print(end-start)

1688224478.343518

 [4]

 [None]

 ['foo']

 [7]

 [8]

 [(2, 3)]

 [(2, 3)]
1688224478.343915
0.00039696693420410156
1688224478.344362

 [4]

 [None]

 ['foo']

 [7]

 [8]

 [(2, 3)]

 [(2, 3)]
1688224478.3446221
0.0002601146697998047

In [ ]:
## Sorting

In [66]:
a=[7,2,5,1,3]
a.sort()

In [67]:
a

[1, 2, 3, 5, 7]

In [ ]:
## Sorting by length

In [68]:
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key=len)

In [69]:
b

['He', 'saw', 'six', 'small', 'foxes']

In [ ]:
## Slicing

In [71]:
b[:3]

['He', 'saw', 'six']

In [ ]:
## Replacing a Sequence

In [72]:
b[3:5]=["huge", "elephants"]
b

['He', 'saw', 'six', 'huge', 'elephants']

In [ ]:
## Negative Index Slicing

In [73]:
b[-3:]

['six', 'huge', 'elephants']

In [77]:
b[-3:-2]

['six']

In [78]:
## Step Slicing : Double colon

In [79]:
b[::2]

['He', 'six', 'elephants']

In [ ]:
## Reversing a list with step slicing

In [81]:
b[::-1]

['elephants', 'huge', 'six', 'saw', 'He']

## Dictionaries
* also called as hash-maps, assosciative arrays
* stores key value pairs

In [84]:
d1 = {"a": "some value", "b": [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [ ]:
# Inserting an element

In [85]:
d1["c"] = 45
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 'c': 45}

In [86]:
d1["b"]

[1, 2, 3, 4]

In [ ]:
## Checking using a key

In [88]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 'c': 45}

In [89]:
a= "c" in d1
a

True

In [ ]:
## del method in dictionary : deleting

In [90]:
del d1['c']

In [92]:
d1['c']=345

In [93]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 'c': 345}

In [94]:
d1.pop("c")

345

In [95]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [96]:
## Accessing Keys and Values of a Dict

In [98]:
list(d1.keys())

['a', 'b']

In [99]:
list(d1.values())

['some value', [1, 2, 3, 4]]

In [100]:
## Iterate over both key-value pairs

In [101]:
list(d1.items()) #Converts key value pairs into tuples and makes them into a 2 tuple list

[('a', 'some value'), ('b', [1, 2, 3, 4])]

In [102]:
## Merge dictionary into another or update one. 
# Be aware of the key that you are passing, as it might replace existing data

In [104]:
d1.update({"b": "foo", "c": 12})
d1

{'a': 'some value', 'b': 'foo', 'c': 12}

In [105]:
## Creating dictionary from sequences

In [107]:
mapping = {}
## Using zip to create key value zips (tuples)
for key, value in zip(list(d1.keys()), list(d1.values())):
    mapping[key] = value

In [108]:
mapping

{'a': 'some value', 'b': 'foo', 'c': 12}

In [ ]:
## Zipping as 2 value tuples

In [109]:
tuples = zip(range(5),reversed(range(5)))
mapping = dict(tuples)
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [110]:
'''
get method :
get by default will return None if the key is not present, while pop will raise an exception. 
With setting values, it may be that the values in a dictionary are another kind of collection, like a list.
'''

In [ ]:
## Example: Code for setting key as the first letter of every word in a DICT:

In [112]:
words = ["apple", "bat", "bar", "atom", "book"]

In [113]:
by_letter={}
for word in words:
    letter = word[0]
    if letter not in by_letter: 
        by_letter[letter]=[word]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [115]:
print(by_letter.get('a'))
print(by_letter.get('c'))

['apple', 'atom']
None

In [ ]:
## set default method:

In [126]:
by_letter={}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [127]:
## Collections : defaultdict

In [129]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [ ]:
## Valid Dictionary Key Types
## immutable objects like scalar types (int,float,string) or tuples.
# Check hashability -> use hash function.

In [130]:
print(hash("string"))
print(hash((1, 2, (2, 3))))
print(hash((1, 2, [2, 3]))) ## Fails as lists are immutable

1224004552999340207
-9209053662355515447

TypeError: unhashable type: 'list'

In [ ]:
## Using list as a key -> Convert into tuple

In [131]:
d = {}
d[tuple([1, 2, 3])] = 5
d

{(1, 2, 3): 5}

In [145]:
d[tuple([4,2])]=4

In [139]:
3 in list(d.keys())[0]

True

In [162]:
## Code to find element of key tuples in dictionary
values=[]
item = 2
for key in range(len(list(d.keys()))):
    if item in list(list(d.keys())[key]):
         values.append(list(d.values())[key])

In [164]:
print(d)
print(values)

{(1, 2, 3): 4, (4, 2): 4}
[4, 4]

## Sets
* set is an unordered collection of unique elements
* mathematical set operations like union, intersection, difference, and symmetric difference

In [165]:
## Defining a Set

a = set([2, 2, 2, 1, 3, 3])
print(a)
a = {2,2,2,1,3,3}
print(a)

{1, 2, 3}
{1, 2, 3}

In [173]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}

print(f"These are the two sets: \na:{a}\t b:{b} \n")

## Union 
print(f"a.union(b) produces union of sets a and b as follows: \n{a.union(b)}")
print(f"a|b produces union of sets a and b as follows: \n{a|b} \n")
      
## Intersection
print(f"a.intersection(b) produces intersection of sets a and b as follows: \n{a.intersection(b)} \n")
print(f"a&b produces intersection of sets a and b as follows: \n{a&b} \n")

      
## Add 
a.add(10)
print(f"a.add(10) produces add element 10 to set a as follows: \n{a}\n")

## Clear - Reset set to an empty set
a.clear()
print(f"a.clear() results in: {a}")

a = {1,2,3,4,5,6,7,8}
b = {3,4,5,6,7,8}
      
## Difference 
print(f"a.difference(b) produces All of the elements in a but not in b : \n{a.difference(b)}\n")
      
## Symmetric Difference
print(f"a.symmetric_difference(b) produces All of the elements in either a or b but not both : \n{a.symmetric_difference(b)}\n")
      
## Subset 
print(f"a.issubset(b) is true if the elements of a are all contained in b: \n{a.issubset(b)}\n  ")
      
## Superset
print(f"a.issuperset(b) is true if the elements of b are all contained in a: \n{a.issuperset(b)}\n ")
      
## Disjoint Sets
print(f"a.isdisjoint(b)  is True if a and b have no elements in common:\n{a.isdisjoint(b)}\n ")   
      
## Update methods
## Add _update for all methods to replace the existing set with the result
{a.difference_update(b)}
print(f"a.difference_update(b) produces:\n{a}")

These are the two sets:
a:{1, 2, 3, 4, 5}	 b:{3, 4, 5, 6, 7, 8}

a.union(b) produces union of sets a and b as follows:
{1, 2, 3, 4, 5, 6, 7, 8}
a|b produces union of sets a and b as follows:
{1, 2, 3, 4, 5, 6, 7, 8}

a.intersection(b) produces intersection of sets a and b as follows:
{3, 4, 5}

a&b produces intersection of sets a and b as follows:
{3, 4, 5}

a.add(10) produces add element 10 to set a as follows:
{1, 2, 3, 4, 5, 10}

a.clear() results in: set()
a.difference(b) produces All of the elements in a but not in b :
{1, 2}

a.symmetric_difference(b) produces All of the elements in either a or b but not both :
{1, 2}

a.issubset(b) is true if the elements of a are all contained in b:
False

a.issuperset(b) is true if the elements of b are all contained in a:
True

a.isdisjoint(b)  is True if a and b have no elements in common:
False

a.difference_update(b) produces:
{1, 2}

In [174]:
## Equality of Sets: equal if and only if their contents are equal:
{1,2,3}=={3,2,1}

True

## Comprehensions

In [175]:
## List Comprehensions

In [ ]:
'''
[expr for value in collection if condition]:
result = []
    for value in collection:
if condition: result.append(expr)
'''

In [178]:
## Use case: remove stop words or filter by length:

strings = ["a", "as", "bat", "car", "dove", "python"]
[word.upper() for word in strings if len(word) > 2 ]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [ ]:
## Dictionary Comprehension
''' dict_comp = {key-expr: value-expr for value in collection if condition} '''

## Set Comprehension

''' set_comp = {expr for value in collection if condition} '''

In [180]:
## Use case: Calculating list of length of strings
length_of_strings={ len(word) for word in strings }
length_of_strings

{1, 2, 3, 4, 6}

In [182]:
## map function
set(map(len,strings))

{1, 2, 3, 4, 6}

In [183]:
## Location Mapping: Use of dict comprehension
loc_mapping= {index:value for index, value in enumerate(strings)}
loc_mapping

{0: 'a', 1: 'as', 2: 'bat', 3: 'car', 4: 'dove', 5: 'python'}

In [186]:
## Nested List Comprehensions
## Code: To find names_of_interest defined as words having two or more a's in the list of lists 

all_data = [["John", "Emily", "Michael", "Mary", "Steven"],["Maria", "Juan", "Javier", "Natalia", "Pilar"]]
names_of_interest = []
for names in all_data:
    ## Iterates through names in each list and finds words with desired a's occurrences:
    enough_a_occurrences =  [name for name in names if name.count('a') >= 2] 
    names_of_interest.extend(enough_a_occurrences)
print(names_of_interest)

# Solving with Nested List Comprehensions
### Note: What gets nested is the for loop
names_of_interest = [name for names in all_data for name in names if name.count('a') >= 2]
print(names_of_interest)

['Maria', 'Natalia']
['Maria', 'Natalia']

In [188]:
## Flattening a list of tuples to a list of integers
list_of_tuple_integers = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [integer for integers in list_of_tuple_integers for integer in integers]
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [190]:
## Same code using for loops -> Order of execution does not change
flattened = []
for tup in list_of_tuple_integers: 
    for x in tup:
            flattened.append(x)
print(flattened)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [192]:
## How to create a list of lists from the same code
list_of_tuple_integers = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
list_of_lists_of_integers = [[i for i in integers] for integers in list_of_tuple_integers]
print(list_of_lists_of_integers)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

###### Note: Comprehensions are useful for unpacking complex data structures
                                             --- THE END ---